<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1>その他</h1>
    <p>ページ内で有効な変数を定義することができる。※積極的にやることではない。</p>
    {% set count = 1 %}
    {% set count = count + 1 %}
    {{ count }}

    <p>スコープ(有効範囲)を決めた変数の利用。</p>
    {% with i = 0 %}
        {{ i }}
    {% endwith %}
    {# ↓ これは出ない #}
    {{ i }}

    <p>余分な空白文字の除去。</p>
    <div>
        {#- 手前空白除去 #}AAA
    </div>
    <div>
        AAA{# 後方空白除去 -#}
    </div>
    <div>AAA
        {#- 前後空白除去 -#}
    BBB</div>
    <div>
        {{- 1 + 1 -}}
    </div>
    <div>
        {%- if True -%}
            123
        {%- endif -%}
    </div>
</body> 
</html>