<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h2>課題No.02 Flask Templates</h2>
    <ul>
        <li><a href="{{ url_for('ex1') }}">Ex1 乱数</a></li>
        <li><a href="{{ url_for('ex2') }}">Ex2 ランダムメッセージ</a></li>
        <li><a href="{{ url_for('ex3') }}">Ex3 ランダム画像</a></li>
        <li><a href="{{ url_for('ex4') }}">Ex4 100連ガチャ</a></li>
        <li><a href="{{ url_for('ex5') }}">Ex4 100連ガチャ+</a></li>
        <li><a href="{{ url_for('ex6') }}">Ex6 レイアウト継承</a></li>
        <li><a href="{{ url_for('ex7') }}">Ex7 レイアウト継承＆商品一覧</a></li>
        <li><a href="{{ url_for('option1') }}">Option1 レイアウト継承＆商品一覧(空対応)要素あり</a></li>
        <li><a href="{{ url_for('option1_2') }}">Option1 レイアウト継承＆商品一覧(空対応)要素なし</a></li>
        <li><a href="{{ url_for('option2') }}">Option2 CSS</a></li>
    </ul>
</body>
</html>