<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>課題No.03</h1>
    <h2>Cookie Session</h2>
    <hr>
    <p><a href="{{url_for('ex1_set_cookie')}}">Ex1 Cookie保存</a></p>
    <p><a href="{{url_for('ex2_check_cookie')}}">Ex2 Cookie確認</a></p>
    <p><a href="{{url_for('ex3_delete_cookie')}}">Ex3 Cookie削除</a></p>
    <hr>
    <p><a href="{{url_for('ex4_set_cookies')}}">Ex4 複数Cookie保存</a></p>
    <p><a href="{{url_for('ex5_view_cookies')}}">Ex5 複数Cookie表示</a></p>
    <p><a href="{{url_for('ex6_delete_cookies')}}">Ex6 複数Cookie削除</a></p>
    <hr>
    <p><a href="{{url_for('ex7_session')}}">Ex7 セッション</a></p>
    <hr>
    <p><a href="{{url_for('option1')}}">Option1 Cookie復元</a></p>
    <p><a href="{{url_for('option2')}}">Option2 一言メモ</a></p>
</body>
</html>