<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Flask login</h1>
    {% if current_user.is_authenticated %}
    <p><a href="{{ url_for('dashboard') }}">dashboard</a></p>
    <p><a href="{{ url_for('logout') }}">logout</a></p>
    {% else %}
    <p><a href="{{ url_for('login') }}">login</a></p>
    <p><a href="{{ url_for('signup') }}">sign up</a></p>
    {% endif %}
</body>
</html>